/* Reset margin & padding */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;  
}

.about-me-section{
    margin: auto;
    width: 1547px;
    height: 790px;
}

.hero-nav-bar {
    display: flex;
    justify-content: flex-end;
    margin-top: 145px;
    width: 100%;
  }
  
  .nav-links a {
    margin: 0 12px;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: black;
    animation: ease-in-out;
  }

  .nav-links a:hover{
    text-decoration: underline #D5A362;
    animation: ease-in-out;
    color: #D5A362;
  }

  .text-and-image-container{
    margin-top: -130px;
  }

  .img-container img{
    width: 608px;
    margin-left: -100px;
  }

  .text-container{
    transform: rotate(-10.56deg);
    margin-top: -100px;
    margin-left: 38px;
  }

  .text-container span{
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
  }

  .text-container p{
    font-family: "Inter";
    font-size: 24px;
    margin-top: -1px;
  }

  .about-me-img{
    width: 765px;
    height: 765px;
  }

  .about-me-img img{
   width: 675px;
   height: 675px;
   margin-left: 150px;
  }

  .img-content-container{
    display: flex;
  }


