/* RESET default margin & padding */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

/* SECTION WRAPPER */
.about-me-section {
  margin: auto;
  width: 1547px;
  height: 790px;
}

/* NAVIGATION */
.navbar {
  display: flex;
  justify-content: flex-end;
  margin-top: 145px;
  width: 100%;
}

.nav-links a {
  margin: 0 12px;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links .active-link {
  color: #D5A362;
  text-decoration: underline;
}

/* CONTENT CONTAINER */
.about-content {
  display: flex;
  margin-top: -130px;
}

/* LEFT: SIGN IMAGE */
.sign-image img {
  width: 608px;
  margin-left: -100px;
}

/* CENTER: TEXT */
.intro-text {
  transform: rotate(-10.56deg);
  margin-top: -100px;
  margin-left: 38px;
}

.intro-text span {
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
}

.intro-text p {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  margin-top: -1px;
}

/* RIGHT: ILLUSTRATION */
.illustration {
  width: 765px;
  height: 765px;
  margin-top: 150px;
}

.illustration img {
  width: 675px;
  height: 675px;
  margin-left: 150px;
}
