/* Reset margin & padding */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Hero section */
.hero-section {
  width: 100%;
  margin: auto;
}

/* Navigasi */

.navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-links{
  padding: 1.5rem 2rem;
}

.nav-links a {
  margin: 0 .7rem;
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links .active-link {
  color: #d5a362;
  text-decoration: underline;
}



/* Kontainer utama hero */
.hero-container {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

/* Gambar utama */
.hero-img {
  width: 40%;
  height: 40%;
  margin-left: 3rem;
}

.hero-img img{
  width: 100%;
  height: 100%;
}

.hero-tagline span {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.4em;
}

.hero-tagline h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.7rem;
  text-shadow: 2px 2px #D5A362;
}

.hero-tagline p {
  font-family: "Inter";
  font-size: 1.4em;
}

/* Tombol CTA Umum */
.cta-button button {
  border: none;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  font-size: .85rem;
  font-family: 'Press Start 2P', cursive;
  color: white;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.75);
}

/* Tombol "See Project" */
.btn-see-project {
  background-color: #755035;
}

.btn-see-project:hover {
  background-color: #D5A362;
}

/* Tombol "Hire Me" */
.btn-hire-me {
  background-color: #D5A362;
  margin-left: 36px;
}

.btn-hire-me:hover {
  background-color: #755035;
}

.typing-text {
  font-family: "Press Start 2P", monospace;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #D5A362;
  width: 0;
  animation: typing 2s steps(30, end) forwards, blink 0.7s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}

@media (max-width: 1024px) {
  .hero-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-img {
    height: auto;
  }

  .hero-tagline {
    margin-bottom: 50px;
    margin-left: 120px;
  }

  .hero-tagline p {
    font-size: 20px;
  }

  .hero-tagline span,
  .hero-tagline h1 {
    font-size: 24px;
  }

  .cta-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cta-button a {
    margin-top: 12px;
  }

  .btn-hire-me {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .nav-links {
    display: flex;
    gap: 24px;
    margin-left: 20px;
    text-align: center;
  }

  .nav-links a {
    display: block;
    margin: 8px 0;
    font-size: 10px;
  }

  .hero-tagline p {
    font-size: 16px;
  }

  .hero-tagline span,
  .hero-tagline h1 {
    font-size: 16px;
  }

  .cta-button button {
    padding: 12px 24px;
    font-size: 12px;
  }
}

