/* ===== RESET ===== */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* ===== SECTION WRAPPER ===== */
.project-section {
  width: 100%;
}

/* ===== NAVIGATION ===== */

.navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 1.5rem 2rem;
}

.nav-links a {
  margin: 0 0.7rem;
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links .active-link {
  color: #d5a362;
  text-decoration: underline;
}

/* ===== IMAGE NAVIGATION ===== */
.img-nav-container {
  display: flex;
}

.my-project-sign {
  width: 50%;
}

.my-project-sign img {
  width: 100%;
  height: auto;
}

/* ===== PROJECT CONTAINER ===== */
.project-container {
  width: 100%;
  padding: 2rem 0;
  display: grid;
  justify-content: center;
  gap: 2rem;
  grid-template-columns: 350px 350px 350px;
}

/* ===== CARD STYLE ===== */
.card {
  width: 350px;
  height: 350px;
  perspective: 100rem;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
}

.card.active .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.8);
  border-radius: 2rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front img {
  width: 100%;
  height: 100%;
}

.card-front::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(213, 163, 98, 0.2);
  z-index: 99;
  border-radius: 1.5rem;
}

.card-back {
  font-family: "Press Start 2P", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #755035;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 99;
  transform: rotateY(180deg);
}

.card-back h3{
  font-size: .8rem;
}

.card-back p{
  font-size: .8rem;
}

.card-back a {
  margin-top: 1rem;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  background: #d5a362;
  padding: 0.6rem 1.5rem;
  border-radius: 5px;
  font-size: .6rem;
  transition: all .6s ease;
}

.card-back a:hover{
  background: #d5a36286;
}
